*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
key.properties
app/src/main/res/values/appId.xml
app/google-services.json
app/keystore.jks
pdfium/build
pdfium/.cxx
jp2forandroid/build
.idea
/.kotlin
/package-lock.json
# Sentry Config File
sentry.properties
.worktrees
/docs
handyreader-e3ff6-6e29a5e9b8fe.json